APP_NAME=hyeyum-ai
APP_ENV=local
ROOT_PATH=/ai
UPLOAD_DIR=uploads
MAX_UPLOAD_FILE_SIZE_MB=100
SEED_TRAINING_DATA_DIR=app/seeds/training-data
AI_PORT=8000
WEAVIATE_URL=http://weaviate:8080
WEAVIATE_GRPC_HOST=weaviate:50051
WEAVIATE_COLLECTION=TrainingDocument
WEAVIATE_INGEST_ENABLED=true
SEED_TRAINING_DATA_ON_STARTUP=true
SEED_TRAINING_DATA_STATE_FILE=.training-data-seed-state.json
WEAVIATE_PORT=8081
WEAVIATE_GRPC_PORT=50051
WEAVIATE_QUERY_DEFAULTS_LIMIT=25
WEAVIATE_ANONYMOUS_ACCESS_ENABLED=true
WEAVIATE_ENABLE_MODULES=text2vec-openai
WEAVIATE_DEFAULT_VECTORIZER_MODULE=text2vec-openai
OPENAI_API_KEY=
